@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* scope 를 지정하기 위해 우리는 root scope를 지정할 필요가 있다. 우리는 이를 통해 변수를 아무 곳에서나 사용할 수 있고, 우리는 변수를 --를 통해 할당할 수 있다  */

:root{
    --success-color: #2ecc71;
    --error-color:#e74c3c;
}

* {
    box-sizing: border-box;
}

body{
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 슬라이스를 100개로 나눴을때 위치 */
    margin: 0;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px; /* 왼쪽 오른쪽 */
    
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative; /* small tag의 에러메시지를 절대적인 위치의 form control에 두기 위해서  */
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small{
    color:var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden; /* 에러메시지가 뜰 때만 뜨게  */
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}